body {
  /* Стилі для фонового зображення */
  background-image: url('https://raw.githubusercontent.com/Glib-teem/favicon-Abyss/main/images/3.14deczabkve.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Забезпечує, що фон не буде прокручуватися */

  /* Забираємо зовнішні відступи та смуги прокрутки */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
}
